* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.debug {

  .bg-header {
    background-color:#acd7e6;
    width: 100%;
    padding: 10px 15%;
    
  }
 
  .navbar {
    
    background-color: #d9a521;
    border: dashed black;
  
}

.blocco-blu {
  background-color: #080d8c ;
  width: 100%;
  height: 250px;
  padding-top: 25px ;
  
}

.quadrato-rosa {
  border: dashed black;
  background-color: #ed82ed;
  margin: 0 auto;
  max-width: 50%;
  height: 200px;

}


}

.navbar {
  display: flex;
  justify-content: space-between;
}

